@vgap: 10px;
@control-height: @vgap*2 + 16 + 2; // 垂直间隙 + 字体大小 + 边框大小
.form-group{
  margin-top: 10px;
  .clearfix;
  label{
    color: #333;
    &[class^=col-]{
      padding-top: @vgap;
    }
  }
  .form-control{
    margin-left: 10px;
  }
  .checkbox, .radio{
    margin-left: 10px;
  }
  // 表单组状态
  &.form-group-error{
    color: darken(@c-danger, 20%);
    label{
      color: darken(@c-danger, 20%);
    }
    .form-control{
      color: darken(@c-danger, 20%);
      border-color: darken(@c-danger, 20%);
      &:focus{
        border-color: @c-danger;
      }
    }
  }
  &.form-group-success{
    color: darken(@c-growth, 16%);
    label{
      color: darken(@c-growth, 16%);
    }
    .form-control{
      color: darken(@c-growth, 16%);
      border-color: darken(@c-growth, 16%);
      &:focus{
        border-color: @c-growth;
      }
    }
  }
  &.form-group-warning{
    color: darken(@c-warning, 16%);
    label{
      color: darken(@c-warning, 16%);
    }
    .form-control{
      color: darken(@c-warning, 16%);
      border-color: darken(@c-warning, 16%);
      &:focus{
        border-color: @c-warning;
      }
    }
  }
  .button{
    margin-left: 10px;
  }
}
.form-control{
  width: 200px;
  padding: @vgap 5px;
  color: #333;
  font-size: 14px;
  line-height: 16px;
  border: 1px solid #ccc;
  outline: none;
  .transition(~'background-color .3s, border .3s');
  &:focus{
    border-color: @c-calm;
  }
  &[disabled]{
    color: #999;
    background-color: #f3f3f3;
    cursor: not-allowed;
  }
  &[readonly]{
    color: #999;
    background-color: #f3f3f3;
  }
  &.form-control-small{
    width: 80px;
  }
  &.form-control-large{
    width: 300px;
  }
}
// 下拉菜单
select.form-control{
  padding-top: 0;
  padding-bottom: 0;
  height: @control-height;
  background-color: #fff;
  .border-radius(0);
}
// 文本域
textarea.form-control{
  resize: vertical;
}
// 单选复选框
.checkbox, .radio{
  cursor: pointer;
}
// 验证码
.form-vcode{
  height: @control-height;
  padding-left: 5px;
  vertical-align: top;
}
// 备注信息
.form-control-note{
  padding-left: 10px;
  font-size: 14px;
}
// 行内表单
.form-inline{
  .form-group{
    display: inline-block;
  }
}
// 输入框组
.input-group{
  position: relative;
  left: 10px;
  display: table;
  width: 200px;
  border-collapse: separate;
  > .form-control, .input-group-addon{
    display: table-cell;
    margin: 0;
    vertical-align: middle;
  }
  > .form-control{
    float: left;
    width: 100%;
  }
  .input-group-addon{
    width: 1%;
    padding: 0 8px;
    color: #666;
    white-space: nowrap;
    background-color: #fafafa;
    border: 1px solid #ccc;
    overflow: hidden;
    &:first-child{
      border-right: 0;
    }
    &:last-child{
      border-left: 0;
    }
    > .form-control{
      margin: 0;
      width: auto;
      height: 100%;
      color: #666;
      border: 0;
      background-color: transparent;
    }
    &.input-group-addon-button{
      border: 0;
      padding: 0;
      background: transparent;
      .button{
        margin: 0;
        border-left: 0;
      }
    }
    &.input-group-addon-select{
      position: relative;
      // 自定义下拉菜单的小三角
      &:after{
        @size: 6px;
        content: '';
        position: absolute;
        z-index: 0;
        top: 50%;
        right: 6px;
        margin-top: -@size/2;
        width: 0;
        height: 0;
        border: @size solid transparent;
        border-top-color: #666;
      }
      // 在火狐下隐藏自定义小三角
      @-moz-document url-prefix(){
        &:after{
          display: none;
        }
      }
      select{
        position: relative;
        z-index: 1;
        padding: 0 5px;
        min-height: 30px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        // 隐藏 IE10 及以上的小三角
        &::-ms-expand{
          display: none;
        }
      }
    }
  }
}
