.label{
  padding: 4px 6px;
  color: #fff;
  font-size: 14px;
  background: #999;
  .border-radius(5px);

  &.label-danger{
    background-color: @c-danger;
  }
  &.label-warning{
    background-color: @c-warning;
  }
  &.label-calm{
    background-color: @c-calm;
  }
  &.label-dream{
    background-color: @c-dream;
  }
  &.label-cute{
    background-color: @c-cute;
  }
  &.label-growth{
    background-color: @c-growth;
  }
  &.label-dark{
    background-color: @c-dark;
  }
}
a.label{
  text-decoration: none;
  &:hover{
    .opacity(80);
  }
}
