// 栅格系统
@container-size: 1000px; // 栅格总数为 12 格

// 颜色表（所有颜色变量均以 c 开头）
@c-basic: #0D8DD9;  // 主色调
@c-danger: #FF4155; // 危险
@c-warning: #FF7D22; // 警告
@c-calm: #36CCFF; // 冷静

// 标的组件配置
@c-project-title: @c-basic; // 标题颜色
@c-project-rate: @c-danger; // 利率颜色
@c-project-amount: #666; // 金额颜色
@c-project-periods: #666; // 期限颜色
@project-attr-font-size: 32px; // 属性字体大小
